body {
  
  font-size:12px;
  padding-bottom: 40px;
  
}
.container-fluid{padding-top: 20px;}

/*Nav bar*/
.navbar .brand {
  display:block;
  float:left;
  font-size:20px;
  font-weight:200;
  padding:10px 20px;
  margin-left:-15px;
}

.navbar .nav > li > a {
  float:none;
  padding:10px 15px;
  text-decoration:none;
}

.navbar-search .search-query {
  border-radius:5px;
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
  .container-fluid{padding-top: 70px;}
  .navbar .brand {margin-left:0px;}
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
  .container-fluid{padding-top: 100px;}
  .navbar .brand {margin-left:-90px;}
  .style-switcher{margin-left:-70px;}
}

table.detail-view td {font-size:12px;}
h1,h2,h3,h4, .portlet > .portlet-decoration, .sidebar-nav > ul > li > a, .navbar a, th{
  font-family: 'Carrois Gothic', sans-serif;
}

.portlet > .portlet-decoration, .sidebar-nav > ul > li > a, .navbar li > a, th{
  font-size:14px!important;
}
/* Start Portlets*/
.portlet{
-webkit-box-shadow:#F9F9F9 0 1px 0 inset;
  border:1px solid #DDDDDD;
  border-radius:3px;
  box-shadow:#F9F9F9 0 1px 0 inset;
  margin-bottom:20px;
  min-height:40px;
  overflow: hidden;

}

.portlet-decoration{
  border-bottom:1px solid #DDD;
  background-color: #F1F1F1;
  background-image: -moz-linear-gradient(top, #F1F1F1, #DBDBDB);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F1F1F1), to(#DBDBDB));
  background-image: -webkit-linear-gradient(top, #F1F1F1, #DBDBDB);
  background-image: -o-linear-gradient(top, #F1F1F1, #DBDBDB);
  background-image: linear-gradient(to bottom, #F1F1F1, #DBDBDB);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffF1F1F1', endColorstr='#ffDBDBDB', GradientType=0);
  padding:10px;
}

.portlet-decoration [class^="icon-"], .portlet-decoration [class*=" icon-"] {

  margin-right:5px;

}
.portlet-content{
  padding:5px;
}

/* end Portlets*/
.navbar {
  margin-bottom:0px;
  overflow:visible;
}

.summary ul {
margin: 0px;
padding: 0px;
list-style: none;
}

.summary ul li {
height: 52px;
clear: both;
margin-bottom: 14px;
}

.summary ul li .summary-icon {
width: 36px;
height: 36px;
float: left;
margin-right: 10px;
padding: 6px;
background: white;
border: #DDD 1px solid;
-webkit-box-shadow: inset 0 0 3px #EEE;
-moz-box-shadow: inset 0 0 3px #eee;
box-shadow: inset 0 0 3px #EEE;
-moz-border-radius: 100%;
-webkit-border-radius: 100%;
border-radius: 100%;
}

.summary ul li .summary-number {
font-size: 20px;
font-weight: bold;
display: block;
padding-top: 8px;
}

.summary ul li .summary-title {
display: block;
text-transform: uppercase;
font-size: 11px;
color: #AB4000;
}

.stat-block {
margin-bottom: 20px;
padding: 10px;
min-height:40px;
background: #F1F1F1;
background: -moz-linear-gradient(top, #F1F1F1 0%, #DBDBDB 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F1F1F1), color-stop(100%, #DBDBDB));
background: -webkit-linear-gradient(top, #F1F1F1 0%, #DBDBDB 100%);
background: -o-linear-gradient(top, #F1F1F1 0%, #DBDBDB 100%);
background: -ms-linear-gradient(top, #F1F1F1 0%, #DBDBDB 100%);
background: linear-gradient(to bottom, #F1F1F1 0%, #DBDBDB 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#dbdbdb', GradientType=0 );
border: 1px solid #DDD;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: inset 0 1px 0 #F9F9F9;
-moz-box-shadow: inset 0 1px 0 #f9f9f9;
box-shadow: inset 0 1px 0 #F9F9F9;
}

.stat-block ul {
margin: 0px;
padding: 0px;
}

.stat-block li {
list-style: none;
float: left;
}

.stat-block .stat-graph {
width: auto;
background: white;
padding: 10px 10px 8px 10px;
border: #D7D7D7 1px solid;
text-align: center;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
margin-right: 10px;
}

.stat-block .stat-count {
width: 90px;
}

.stat-block .stat-count span:last-child {
color: #666;
font-size: 12px;
font-weight: normal;
padding-top:3px;
}

.stat-block li span {
display: block;
}

.stat-block .stat-count span:first-child {
color: #1D2E7B;
font-weight: bold;
font-size: 20px;
}

.stat-block .stat-percent {
width: 40px;
float: right !important;
text-align: center !important;
}

.stat-percent{
   font-size: 20px;
   font-weight: bold;
 }
 /*Navbar*/
 .navbar-fixed-top {
  top:0;
  left:0;
}
 
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #848282;
  background-color: #848282;
  background-image: -moz-linear-gradient(top, #848282, #9e9090);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#848282), to(#9e9090));
  background-image: -webkit-linear-gradient(top, #848282, #9e9090);
  background-image: -o-linear-gradient(top, #848282, #9e9090);
  background-image: linear-gradient(to bottom, #848282, #9e9090);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#848282', endColorstr='#9e9090', GradientType=0);
}

.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #848282;
  background-color: #848282;
  background-image: linear-gradient(to bottom, #848282, #9e9090);
  background-image: -moz-linear-gradient(top, #848282, #9e9090);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#848282), to(#9e9090));
  background-image: -webkit-linear-gradient(top, #848282, #9e9090);
  background-image: -o-linear-gradient(top, #848282, #9e9090);
  background-repeat: repeat-x;
  outline: 0;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#848282', endColorstr='#9e9090', GradientType=0);
}
/*Side Nav*/
.sidebar-nav {
  padding:0!important;
}

.sidebar-nav ul{
  padding:0;
  margin:0;
}

.sidebar-nav ul li{
  list-style: none;
}

.sidebar-nav ul > li > a, .sidebar-nav ul > li > a:hover, .sidebar-nav ul > li > span {
  padding:9px 15px;
    margin-bottom:3px;
    display:block;
}

.sidebar-nav ul > li > a, .sidebar-nav ul > li > a:hover {
  
  background-color: #F1F1F1;
  background-image: -moz-linear-gradient(top, #F1F1F1, #DBDBDB);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#DBDBDB), to(#DBDBDB));
  background-image: -webkit-linear-gradient(top, #F1F1F1, #DBDBDB);
  background-image: -o-linear-gradient(top, #F1F1F1, #DBDBDB);
  background-image: linear-gradient(to bottom, #F1F1F1, #DBDBDB);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffF1F1F1', endColorstr='#ffDBDBDB', GradientType=0);
  
  -webkit-box-shadow:#F9F9F9 0 1px 0 inset;
  border:1px solid #DDDDDD;
  border-radius:3px;
  box-shadow:#F9F9F9 0 1px 0 inset;
  text-decoration:none;
  
  
}

.sidebar-nav  ul > li.active > a, .sidebar-nav ul > li.active > a:hover {

  background-color: #9e9090!important;
  background-image: -moz-linear-gradient(top, #9e9090, #979898)!important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9e9090), to(#979898))!important;
  background-image: -webkit-linear-gradient(top, #9e9090, #979898)!important;
  background-image: -o-linear-gradient(top, #9e9090, #979898)!important;
  background-image: linear-gradient(to bottom, #9e9090, #979898)!important;
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff9e9090', endColorstr='#ff979898', GradientType=0);
  
  box-shadow:#cccccc 0 1px 0 inset;
  border:1px solid #9e9090;
  color:#F1F1F1;
}
.subnav.navbar-fixed-top {
  top:40px;
  z-index:1;
}
/*Progress bar*/
.progress, .ui-progressbar {
  height:10px;
}

.ui-progressbar {
  border:0;
  border-radius:4px;
  clear: both;
  margin-bottom:20px;
}

.ui-progressbar.ui-widget-content {
  -webkit-box-shadow:rgba(0, 0, 0, 0.0980392) 0 1px 2px inset;
  background-color:#F7F7F7;
  background-image:-webkit-linear-gradient(top, #F5F5F5, #F9F9F9);
  background-repeat:repeat no-repeat;
  box-shadow:rgba(0, 0, 0, 0.0980392) 0 1px 2px inset;
  overflow:hidden;
}

.ui-progressbar .ui-widget-header{
  background-image:-webkit-linear-gradient(top, #149BDF, #0480BE);
  background-repeat:repeat no-repeat;
  box-shadow: none;
  box-sizing:border-box;
  color:#FFFFFF;
  float:left;
  height:100%;
  border:0;/**/
}
.ui-progressbar .ui-progressbar-value {
  margin:0px;
}


.ui-progressbar .ui-widget-header {
  -webkit-box-shadow:rgba(0, 0, 0, 0.14902) 0 -1px 0 inset;
  -webkit-transition:width 0.6s ease;
  background-color:#149BDF;
  background-image:-webkit-linear-gradient(top, #149BDF, #0480BE);
  background-repeat:repeat no-repeat;
  box-shadow:rgba(0, 0, 0, 0.14902) 0 -1px 0 inset;
  box-sizing:border-box;
  color:#FFFFFF;
  float:left;
  font-size:12px;
  height:100%;
  text-align:center;
  text-shadow:rgba(0, 0, 0, 0.247059) 0 -1px 0;
  width:0;
}

.progress-info .ui-widget-header, .progress-info.ui-slider.ui-widget-content  {
  background-color:#4BB1CF !important;
  background-image:-webkit-linear-gradient(top, #5BC0DE, #339BB9);
  background-repeat:repeat no-repeat;;
}

.progress-success .ui-widget-header, .progress-success.ui-slider.ui-widget-content  {
  background-color:#5EB95E  !important;
  background-image:-webkit-linear-gradient(top, #62C462, #57A957);
  background-repeat:repeat no-repeat;
}

.progress-warning .ui-widget-header, .progress-warning.ui-slider.ui-widget-content {
  background-color:#FAA732 !important;
  background-image:-webkit-linear-gradient(top, #FBB450, #F89406);
  background-repeat:repeat no-repeat;
}

.progress-danger .ui-widget-header, .progress-danger.ui-slider.ui-widget-content  {
  background-color:#DD514C !important;
  background-image:-webkit-linear-gradient(top, #EE5F5B, #C43C35);
  background-repeat:repeat no-repeat;
}

.progress-striped .ui-widget-header, .progress-striped.ui-slider.ui-widget-content  {
  -webkit-background-size:40px;
  background-color:#149BDF;
  background-image:-webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.14902) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.14902) 50%, rgba(255, 255, 255, 0.14902) 75%, transparent 75%, transparent);
  background-repeat:repeat;
}

.active.ui-progressbar .ui-widget-header {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
     -moz-animation: progress-bar-stripes 2s linear infinite;
      -ms-animation: progress-bar-stripes 2s linear infinite;
       -o-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
}
/*slider*/
.ui-slider{
  margin-bottom:20px;
}

.ui-slider.ui-widget-content{
  -webkit-box-shadow:rgba(0, 0, 0, 0.14902) 0 -1px 0 inset;
  -webkit-transition:width 0.6s ease;
  background-color:#149BDF;
  background-image:-webkit-linear-gradient(top, #149BDF, #0480BE);
  background-repeat:repeat no-repeat;
  box-shadow:rgba(0, 0, 0, 0.14902) 0 -1px 0 inset;
  box-sizing:border-box;
  border:none;
}

/*Table*/
.table > table{
  width:100%;
}

/*CGridview*/
.filters select, .filters input, .filters .uneditable-input {
  border-radius:none;
  font-size:14px;
  height:20px;
  line-height:10px;
  margin-bottom:0;
  padding:0;
}

/*Pagination*/

.pager{
  margin:20px 0;
}
.pager ul{
  -webkit-box-shadow:rgba(0, 0, 0, 0.0470588) 0 1px 2px;
  border-radius:0px;
  box-shadow:rgba(0, 0, 0, 0.0470588) 0 1px 2px;
  display:inline-block;
  margin-bottom:0;
  margin-left:0;
  text-align:center;
}

.pager a, .pager span{
  
  border-radius:0px;
  margin-left:3px;
}

.pager ul > li.last > a, .pager ul > li.last > span {
  border-left-radius:4px;
}

.pager ul > li > a, .pager ul > li > span {
  background-color:#FFFFFF!important;
  border-color:#DDDDDD!important;
  border-style:solid;
  border-width:1px 1px 1px 0;
  float:left;
  line-height:20px;
  padding:4px 12px!important;
  text-decoration:none;
}

.pager ul > li.first > a, .pager ul > li.first > span {
  border-bottom-left-radius:4px;
  border-top-left-radius:4px;
}

ul.yiiPager li.hidden{
  display:none!important; 
}

/*CListView*/
.list-view div.view{
  
  border:solid 1px #DDDDDD;
  padding: 10px;
  margin-bottom:10px;
  -webkit-box-shadow:rgba(0, 0, 0, 0.0470588) 0 1px 1px inset;
  box-shadow:rgba(0, 0, 0, 0.0470588) 0 1px 1px inset;
  border-radius:4px;
  
}

/*Form*/
.filters input, .filters .uneditable-input {
  width:100% !important;
}

div.form > form  .row {
  margin-left:0px;
}

/*Footer*/
footer {
  margin-top:10px;
  text-align:center;
}
/*Style switcher*/
.style-switcher
{
  padding-top:13px;
}
.style-switcher span.style
{
  width:16px; 
  height:16px; 
  display:block;
  margin-right:5px;
  float:left;
}

/*Button styles*/
.btn-info {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  *background-color: #2f96b4;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
#login-form label {width: 10%; float: left; font-weight: bold;color: #fff;background: #521042;font-size: 20px;text-align: center;box-sizing: border-box;padding: 13px 10px;margin: 20px 0;/* border: 0; */display: block;}
#login-form input {width: 90%; float: left;box-sizing: border-box;padding: 23px 10px;margin: 20px 0;border: 0;}
#login-form  #LoginForm_rememberMe { width: 20px; float: left;}
#login-form #ytLoginForm_rememberMe { width: 100px; float: left;}
#login-form .buttons {/* width: 100%; *//* margin: 0 auto; */}
#login-form .buttons .btn { width: 100%;background: #521042;padding: 10px;margin: 0 !important;}
.item_title { font-size: 22px; margin: 0 0 -20px 0; }
.portlet-decoration { padding-left: 30px;}
.formradio_checks { overflow: hidden;padding: 0;}
.formradio_checks table  input {  float: left;}
.formradio_checks table  label  {  float: left; margin: 0 10px;}
.title_bg {background: #F5F5F5; padding: 5px;  }
.buttons input {
    padding: 10px 30px;
    margin: 20px 0;
    border:1px solid #324287;
    color: #FFFFFF;
    text-transform: uppercase;
    border-radius: 4px !important;
    background: #521042;
    border-color: #521042 !important;
    margin: 20px 80px !important;
    }
.pager ul { width: 100%; box-shadow: none;}  
.pager ul.yiiPager li  { float: left;}
.grid-view .pager {text-align: left;}
.portlet-content .form .note { margin-left: 0px;display: none;}
.portlet-content .form .label-success, .portlet-content .form .label-important  {padding: 10px;/* margin: 10px 20px; */}
.portlet-content .form  .errorSummary { color: #fff; padding: 10px; margin: 10px 20px;     background-color: #b94a48; border-radius: 4px;}
.portlet-content .form label { text-transform: capitalize;}
.portlet-content  .flash-error, label-success 
{
  color: white !important;
    background-color: #468847;
    padding: 10px;
    margin: 10px 0px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 4px;
}
.grid-view { width: 100%; overflow-y:auto;}
input[type="button"] {   
    background: rgb(70, 81, 128);
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #2B2E3A;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    background-color: #F1F1F1;
    background-image: -moz-linear-gradient(top, #F1F1F1, #DBDBDB);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#DBDBDB), to(#DBDBDB));
    background-image: -webkit-linear-gradient(top, #F1F1F1, #DBDBDB);
    background-image: -o-linear-gradient(top, #F1F1F1, #DBDBDB);
    background-image: linear-gradient(to bottom, #F1F1F1, #DBDBDB);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffF1F1F1', endColorstr='#ffDBDBDB', GradientType=0);
    -webkit-box-shadow: #F9F9F9 0 1px 0 inset;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    box-shadow: #F9F9F9 0 1px 0 inset;
    text-decoration: none;}
 .bulkupload_btn input[type="button"] {     margin: 15px 0; padding: 10px;}   
 .validating {     margin: 15px 0; padding: 10px;} 

 input[type="file"] {
  height: auto;
  line-height: 1;
  outline: none;
}

input[type="file"]:focus

{
  outline: none;
}
.sort-link {background: url(../img/sort2.png) no-repeat right; display: block;  background-size: 12px;}
.desc  {background: url(../img/sortdown.png) no-repeat right; display: block;  background-size: 8px;}
.asc  {background: url(../img/sortup.png) no-repeat right; display: block;  background-size: 8px;}
.leftside_title {font-size: 16px;
    text-align: left;
    border-bottom: 2px solid #283981;
    margin: 15px 0;
    padding-left: 0;
    color: #2C3D84;
    font-weight: 600;}
@media(min-width:0) and (max-width:767px) {
  .nav-collapse .nav {
    float: none !important;
}
    }
    .logo_contain {background-color: #C7C7C7;height: 55px;margin: 0;padding: 0;overflow: hidden;}

    .logo_side {
    background: url(../img/logo.png) no-repeat right;
    display: block;
    width: 100px;
    min-height: 20px;
    margin: 15px auto;
    margin-bottom: 15px;
    background-size: contain;
    }
.left_sidemenu .item-test a {
    font-size: 12px;
    padding: 10px 15px;
    color: #848484;
    border-bottom: 1px solid #D8D8D8;
    border-top: 1px solid #E8E8E8;
    letter-spacing: 1px;
    text-transform: uppercase;
    }
.left_sidemenu .item-test a i { padding-right: 5px;}

.left_sidemenu .active a, .left_sidemenu .item-test a:hover {background: url(../img/right-arrow26.png) no-repeat right; display: block;background-size: 12px;background-color: #521042;      color: #EAEAEA;background-position: 95%;}
 
.portlet-content .form form {width: 450px; margin: 0 auto;border: 1px solid #DBDBDB;padding: 15px;}
.portlet-content .form form label {width: 130px; float: left;margin: 25px 0;font-weight: 600;font-size: 13px;letter-spacing: 0.6px;padding-right: 5px;box-sizing: border-box;}
.portlet-content .form form input {width: 300px; float: left;border: 0;box-shadow: none;border: 1px solid #ccc;border-radius: 0;margin: 20px 0;}
.portlet-content .form form input[type="file"] { width: 200px;}
.portlet-content .form form textarea { width: 300px; float: left;border: 0;box-shadow: none;border: 1px solid #ccc;border-radius: 0;margin: 20px 0;}
.portlet-content .form .sub-title {text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin: 0;}
.portlet-content .form  #media_gallery { width: 300px; float: left;}    
.portlet-content .form  #media_gallery input { width: auto;}   
.portlet-content .form form select { width: 300px; float: left;border: 0;box-shadow: none;border: 1px solid #ccc;border-radius: 0;margin: 20px 0;}
.portlet-content .form form .check_permsnbox { width:270px; float: left;border: 0;box-shadow: none;margin: 0;}
.portlet-content .form form input[type="file"] { border: 0;outline: none;}
.portlet-content .MultiFile-label {
    clear: both;
    width: 300px;
    margin: 5px 0 13px 130px;
    height: 20px;
    background: whitesmoke;
    padding: 5px;
    border-radius: 4px;
    overflow: hidden;
    }
  .portlet-content .MultiFile-label  .MultiFile-remove {float: left !important; margin: 0 15px;}
  .portlet-content .MultiFile-label .MultiFile-title {    width: 224px; float: left;}
.portlet-content .form .MultiFile-remove {    display: block;
    float: right;
    width: 20px;
    height: 20px;
    background: #CC7B7B;
    text-align: center;
    color: #FFF;
    border-radius: 50%;
    font-weight: bold;
}
.background_grey {background: #E2E2E2;    height: 100vh;position: fixed;      z-index: 9999;}
.header_top {
    background: #521042;
    height: 80px;
    /* margin-bottom: 33px; */
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 999;
    }
.header_top  span.title {
    margin-left: 15%;
    color: #fff;
    font-size: 16px;
    line-height: 55px;
    text-align: center;
    display: block;
    letter-spacing: 1px;
    text-transform: uppercase;
    }
.header_top .message_box { width: 130px;float: right;margin-top: -50px;}
.header_top .message_box h4 {
    color: #fff;
    font-size: 24px;
    font-weight: normal;
    position: relative;
    }
    .header_top .message_box h4 span {
    position: absolute;
    font-size: 10px;
    background: #FFFFFF;
    padding: 2px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    overflow: hidden;
    text-align: center;
    top: -8px;
    left: 15px;
    line-height: 16px;
    color: #521042;
    font-weight: 600;
}
.header_top .message_box h4 a { color: #fff;}
.look_grid {width: 24%; float: left; overflow: hidden;margin-top: 10px;border: 1px solid #BFBFBF; box-sizing:border-box;margin-left: 1%;background: #F7F7F7;min-height: 220px;}
.imagehover-wrap {height: 350px;/* width: 285px; */display: table-cell;overflow: hidden;background: rgb(230, 230, 230); position: relative;vertical-align: middle;}
.imagehover-wrap img {width:100%;display: block;  margin: 0 auto; vertical-align: middle;}
.look_grid .timmeimg { width: 100%;}
.look_grid h5 {text-align: center;margin: 0; font-weight: normal;height: 30px;white-space: nowrap;    overflow: hidden;    text-overflow: ellipsis;padding: 0 10px;text-transform: capitalize;color: #5D6166;line-height: 30px;}
.look_grid span { display: block; width: 50%; float: left;background: #F7F7F7;text-align: center;box-sizing: border-box;font-size: 10px;color: #272727;text-transform: uppercase;cursor: pointer;height: 35px;line-height: 35px;/* border-top: 1px solid #BFBFBF; */}
.look_grid span a {
    color: #5D6174;
    display: block;
    }
.look_grid span i {
    margin-right: 5px;
    }   
.right_section {margin-top: 55px;padding-top: 40px;/* width: 1170px !important; */}
.add_new {
    width: 24%;
    float: left;
    overflow: hidden;
    margin-top: 10px;
    border: 1px dashed #DEDEDE;
    box-sizing: border-box;
    margin-left: 1%;
    background: #f7f7f7;
    height: 220px;
}
.add_new a {
    width: 100%;
    height: 100%;
    font-size: 76px;
    color: #333;
    text-align: center;
    padding-top: 64px;
    display: block;
    height: auto;
    }
.add_new a:hover { color: #521042;  text-decoration: none;}    
.errorMessage {
  
display: block;
  
overflow: hidden;
  
width: 100%;
  
text-align: right;
}  
.create_styleform form {width: 930px !important; overflow:hidden; }
.create_styleform form .category_tree input { margin: 0; float: left;width: auto;}
.tooltip > .tooltip-inner {background-color: #000 !important; text-align: left !important; line-height: 16px; font-size: 14px; word-break: normal;}
.dashboard_boxes  {background: #F3F3F3; display: block; overflow: hidden;margin-top: 40px;}
.dashboard_boxes .icon_box { width: 40%; float: left;background: #C3329B;min-height: 100px;padding: 30px 10px;box-sizing: border-box;text-align: center;color: #fff;font-size: 40px;}
.dashboard_boxes .conten_boxright { width: 60%; float: left;padding: 25px 10px;box-sizing: border-box;color: #585858;}
.dashboard_boxes .conten_boxright span:first-child { display: block;font-size: 14px;text-transform: uppercase;padding-bottom: 5px;}
.dashboard_boxes .conten_boxright span:last-child { display: block;font-size: 18px;font-weight: 500;}
.list_retailercheck { float: left;margin-left: 130px;width: 200px;}
.list_retailercheck ul { list-style-type: none;  }
.list_retailercheck ul li {
    line-height: 24px;
    font-size: 14px;
}
.list_retailercheck .ui-state-default {width: 300px !important;
    background: none;}
.ui-multiselect-filter { width: 100% !important; display: block;}
.ui-multiselect-filter input { width: 220px;}
.ui-widget-header { border: 0; background: #F2F2F2 !important;}
.ui-multiselect-checkboxes .ui-state-hover, .ui-widget-content .ui-state-hover { border: 0; background: #F2F2F2;  padding-left: 2px;
    font-weight: normal;
    color: #212121;}
.ui-multiselect-checkboxes input[type="checkbox"] { float: left; margin-right: 5px; outline: none;}
.list_retailercheck ul li input[type="checkbox"] { display: inline-block;width: 20px; margin: 0;margin-top: 5px;}

.list_retailercheck h5 { margin: 0;}
.profileDetail {
  background: #FBFBFB;
  border: 1px solid #bfbfbf;
  padding: 10px;
      width: 600px;
    margin: 0 auto;
}
.profileDetail h3 {
    margin: 0 0 15px;
    font-size: 16px;
    border-bottom: 1px solid #bfbfbf;
    font-weight: 700;
    text-transform: uppercase;
}
.profile-table { margin-bottom: 15px;  font-size: 12px;}
.profile-table a { font-size: 12px; text-transform: inherit;}
.profile-table tr td {
  border: none !important;

}
.profile-table tr td:first-child {
  width: 230px !important;
  font-weight: 700;
  letter-spacing: 0.5px;
}
.profile-table tr td:last-child {
    letter-spacing: 0.5px;
    font-weight: 600;
    color: #737373;
}
.storeImg {
  list-style-type: none; display: block; overflow: hidden;
  margin-left: -10px;
}
.storeImg li {
    width: auto;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 1px solid #8E8E8E;
}
.storeImg li a {
    display: block;
}
.storeImg li a img {
    display: block;
    width: auto;
    max-height: 90px;
}


.brand_new .form form {width: 450px; margin: 0 auto;border: 1px solid #DBDBDB;padding: 15px;}
.brand_new .form form label {width: 130px; float: left;margin: 25px 0;font-weight: 600;font-size: 13px;letter-spacing: 0.6px;padding-right: 5px;box-sizing: border-box;}
.brand_new .form form input {width: 300px; float: left;border: 0;box-shadow: none;border: 1px solid #ccc;border-radius: 0;margin: 20px 0;}
.brand_new .form form textarea { width: 300px; float: left;border: 0;box-shadow: none;border: 1px solid #ccc;border-radius: 0;margin: 20px 0;}
.brand_new .form .sub-title {text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin: 0;}
.brand_new .form form select { width: 300px; float: left;border: 0;box-shadow: none;border: 1px solid #ccc;border-radius: 0;margin: 20px 0;}
.brand_new .form form input[type="file"] { border: 0;outline: none;}
.brand_new .form .MultiFile-remove {    display: block;
    float: left;
    width: 20px;
    height: 20px;
    background: #CC7B7B;
    text-align: center;
    color: #FFF;
    border-radius: 50%;
    font-weight: bold;
    margin-top: 22px;
}
.brand_new .form form  input[type="file"] { width: 200px;}
.brand_new .form .upload_thumb img { border-radius: 50%;}
.brand_new .form fieldset {font-size: 14px;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;}
.fileupload_note {    line-height: 10px;
    margin-left: 130px;
    clear: both;}
.permission_infotitle    {
    font-size: 14px;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 20px;
    }
.radio_boxescontain input[type="radio"] { width: 20px !important;}
.radio_boxescontain label { width: 100px !important;     margin: 18px 0 !important;}
.radio_boxescontain .row label:first-child { width: 130px !important;}
a:hover {
   text-decoration: none;
}
.breadcrumb {
    padding: 3px 0 3px 15%;
    }
.tab_list { margin: 0; list-style-type: none;margin-top: 15px;overflow: hidden;box-sizing: border-box;text-align: center; margin-bottom:20px;/* width: 100%; *//* box-sizing: border-box; *//* padding: 0; */}  
.tab_list li {
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    width: 24.5%;
    display: inline-block;
    /* margin-right: 20px; */
    border-right: 1px solid #fff;
    box-sizing: border-box;
    }
    .tab_list li a {
    color: #6D6D6D;
    background: #F1F1F1;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    background-color: #F1F1F1;
    background-image: -moz-linear-gradient(top, #F1F1F1, #DBDBDB);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#DBDBDB), to(#DBDBDB));
    background-image: -webkit-linear-gradient(top, #F1F1F1, #DBDBDB);
    background-image: -o-linear-gradient(top, #F1F1F1, #DBDBDB);
    background-image: linear-gradient(to bottom, #F1F1F1, #DBDBDB);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffF1F1F1', endColorstr='#ffDBDBDB', GradientType=0);
    -webkit-box-shadow: #F9F9F9 0 1px 0 inset;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    box-shadow: #F9F9F9 0 1px 0 inset;
    text-decoration: none;
    font-weight: 600;
    box-sizing: border-box;
  }
  .tab_list li a:hover, .tab_list li a.active {background: #CACACA;color: #464646;background-color: #F1F1F1;      background-image: -moz-linear-gradient(top, #F1F1F1, #DBDBDB);      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#DBDBDB), to(#DBDBDB));      background-image: -webkit-linear-gradient(top, #F1F1F1, #DBDBDB);      background-image: -o-linear-gradient(top, #F1F1F1, #DBDBDB);background-image: linear-gradient(to bottom, #E0E0E0, #A7A7A7);      background-repeat: repeat-x;      filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffF1F1F1', endColorstr='#ffDBDBDB', GradientType=0);      -webkit-box-shadow: #F9F9F9 0 1px 0 inset;      border: 1px solid #DDDDDD;      border-radius: 3px;      box-shadow: #F9F9F9 0 1px 0 inset;      text-decoration: none;}
.check_new_span { position: absolute; width: 60px;
    background: #E6E6E6;
    text-align: center;
    color: #28A72D;
    display: block;
    font-size: 40px;
    border-radius: 50%;
    height: 60px;
    width: 60px !important;
    padding: 10px;
    box-sizing: border-box;
    left: 100px;
    top: 50%;}
#hover_content { width: 100%; position: absolute; height: 100%;background: rgba(0, 0, 0, 0.68); text-align: center; top: 0; display: none;z-index: 1; transition:all 0.3s;}
#hover_content span { background: transparent; color: #fff;}
.imagehover-wrap:hover #hover_content { display: block !important;}
#styleinfo { width: 364px; outline: none; border: 0; left: 65%;}
#styleinfo table tr td:first-child { font-weight: 600;}
#styleinfo table tr td { width: 50%;}
#styleinfo h5 {    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;}
.bulk_center  {width: 450px; margin: 0 auto;border: 1px solid #DBDBDB;padding: 15px; overflow: hidden;}
.bulk_center  label {width: 130px; float: left;margin: 25px 0;font-weight: 600;font-size: 13px;letter-spacing: 0.6px;padding-right: 5px;box-sizing: border-box;}
.bulk_center  input {width: 300px; float: left;border: 0;box-shadow: none;border: 1px solid #ccc;border-radius: 0;margin: 20px 0;}
.bulk_center  select {width: 300px; float: left;border: 0;box-shadow: none;border: 1px solid #ccc;border-radius: 0;margin: 20px 0;}
.bulk_center  input[type="file"] { width: 200px;}
.bulk_center  textarea { width: 300px; float: left;border: 0;box-shadow: none;border: 1px solid #ccc;border-radius: 0;margin: 20px 0;}
.bulk_center .bulkupload_btn input[type="button"] { width: 100%;}
.bulk_center  .buttons input {
    padding: 10px 30px;
    margin: 20px 0;
    border: 1px solid #324287;
    color: #fff;
    text-transform: uppercase;
    border-radius: 4px !important;
    background: #521042;
    border-color: #521042 !important;
    margin: 20px 80px !important;
}
.has_submenu {position: relative;}
.has_submenu .submenu_left {display: none;position: absolute;left: 100%;width: 200px;background: #E2E2E2;list-style-type: none;top: 0;margin: 0;}
.has_submenu .submenu_left a { background: #ccc;}
.has_submenu:hover .submenu_left { display: block;}
.grid_form { display: block; overflow: hidden;margin-left: -1%;}
.grid_form .top_searcstrip { width: 100%; overflow: hidden;}
.grid_form  .top_searchbox {
    width: 300px;
    float: right;
    height: 70px;
    box-sizing: border-box;
    }
.grid_form  .top_searchbox input[type="text"] {
    width: 200px;
    border: 0;
    border: 1px solid #ccc;
    box-shadow: none;
    border-radius: 0;
    float: left;
    box-sizing: border-box;
    height: 34px;
    }
    .grid_form  .top_searchbox input[type="submit"] {
    width: 100px;
    border: 0;
    border: 1px solid rgb(82, 16, 66);
    box-shadow: none;
    border-radius: 0;
    float: left;
    height: 34px;
    background: rgb(82, 16, 66);
    color: #fff;
    }
   .center_btn{padding: 10px 30px;
    border: 1px solid #324287;
    color: #FFFFFF;
    text-transform: uppercase;
    border-radius: 4px !important;
    background: #521042;
    border-color: #521042 !important;
    margin: 20px auto;
    width: 200px !important;
    display: block;} 
   