code/protected/config/constants.php
code/protected/config/main.php
code/images/
code/assets/*
code/log/*
code/csvupload/*
code/protected/views/storeFront/*
project4.ppx
project4.ppj
.jsdtscope
.project
.buildpath
org.eclipse.php.core.prefs
org.eclipse.wst.jsdt.ui.superType.container
org.eclipse.wst.jsdt.ui.superType.name
code/protected/runtime/system.log
