code/catbanners/*
code/protected/config/constants.php
code/protected/config/main.php
code/images/
code/assets/*
code/log/*
code/csvupload/*
code/framework/*
code/css/*
code/users/*
code/protected/runtime/*

yadmin.ppj
yadmin.ppx
code/protected/runtime/
code/storelogo/
code/linesheet_images/
code/pressimages/
code/linesheet_pdf/
code/pdf/
code/protected/runtime/application.log
code/framework/cli/views/webapp/protected/components/Controller.php
code/protected/runtime/application.log
